
  #bdcyan {
    background-color: 
    rgb(7, 185, 255);
      text-align: center;
      padding: 1px;
    }
  #bdjaune {
    margin-left: 12%;
    background-color: 
    rgb(238, 234, 11);
      text-align: center;
      padding: 8%;
    }
  #bdvert {
    background-color: 
    rgb(36, 196, 129);
      text-align: center;
      padding: 1px;
    }
    #bdrose {
      background-color: 
      rgb(248, 8, 168);
      text-align: center;
      padding: 1px;
      position:absolute;
      height: 668px;
      width: 12%;
      }