table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  td {
    border: 3px solid black;
    padding: 10px;
    font-size: 15px;
    color: green;
  }

  #tab-milieu td {
    color: blue;
  }

  .phrase-separatrice {
    color: red;
  }