#id1 {
    color: rgba(253, 137, 4, 0.952);
    text-align: center;
}

.style {
    color: rgb(55, 66, 163)
}

.mauve {
    color:rgb(221, 26, 26)
}

.content-container {
    background-color: 
rgb(194, 253, 160);
    display: block;
    border:none;
    padding: 0;
    margin:0;
    height: 100px;
}