.green {
    color: rgba(0, 128, 0, 0.973);
    font-family: 'Times New Roman', Times, serif;
}
.red {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.blue {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.backgroundblue {
    background: rgb(96, 146, 253);
    width: 256px; 
    height: 1000px;
    position: absolute;
    right: 565px;
    bottom: -92px;
}
.allback {
    background: rgb(243, 243, 243); 
}