.blue {
    color: rgba(17, 63, 133, 0.719);
    font-family: 'Barlow Condensed', sans-serif;
}
.black {
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
}

.backgroundblue {
    background: rgb(96, 208, 253);
    width: 20%; 
    height: 110%;
    position: absolute;
    left: 0%;
    top: -5%;
}
.allback {
    background: rgb(243, 243, 243); 
}

.photo {

    text-align: center;
}

.text-center {
    text-align: center;
}