#bdcyan {
  background-color: 
rgb(157, 255, 255);
  display: block;
  border:none;
  padding: 0;
  margin:0;
  height: 80px;
  text-align: center;
}
#bdred {
  background-color: 
red;
  display: block;
  border:none;
  padding: 0;
  margin:0;
  height: 500px;
  text-align: center;
}
#bdvert {
background-color: 
rgb(23, 224, 23);
  text-align: center;
  padding: 5px;
  text-align: center;
}